<div class="container"
     fxLayout="column">
    <mat-toolbar fxLayout="row"
                 fxLayoutAlign="space-between center">
    <p>
      <span>Image Pixel Dislocator</span>
      <span class="mat-caption">Rearrange the pixels in your images.</span>
    </p>

    <a mat-button
       href="https://github.com/russon77/image-dislocator">
      <img src="assets/img/github-circle-white-transparent.svg">
      <span class="my-github">GitHub</span>
    </a>
  </mat-toolbar>

  <div class="content-container"
       fxFlex
       fxLayout="column"
       fxLayoutAlign="space-between center">
    <div fxFlex
         fxLayout="column"
         fxLayoutAlign="center center">
      <section class="mat-typography"
               *ngIf="!baseImage">
        <h1>
          To get started, select an image.
        </h1>
        <p>
          <mat-icon>arrow_downward</mat-icon>
          <br>
          <mat-icon>arrow_downward</mat-icon>
          <br>
          <mat-icon>arrow_downward</mat-icon>
        </p>
      </section>
      <canvas #myCanvas
              class="content-main-image"></canvas>
    </div>
    <mat-toolbar color="primary"
                 fxLayout="row"
                 fxLayoutAlign="space-between center">
      <div>
        <input #fileInput
               type="file"
               accept="image/jpeg,image/png"
               style="display:none"
               (change)="onSelectImage($event.target.files[0])">
        <button mat-button
                (click)="fileInput.click()">Select File</button>
      </div>

      <mat-progress-bar mode="indeterminate"
                        *ngIf="isLoading"></mat-progress-bar>

      <mat-slide-toggle [(ngModel)]="dislocated"
                        [disabled]="isLoading"
                        (change)="onDislocateChange($event)">
        Dislocate!
      </mat-slide-toggle>
    </mat-toolbar>
  </div>
</div>
